$font-stack: Helvetica, sans-serif;
$primary-color: #044dc3;
$secondary-color: #51b549;
$light-text-color: #707070;

$breakpoint-xs: 320px;
$breakpoint-sm: 425px;
$breakpoint-md: 768px;
$breakpoint-lg: 1024px;

%content-flex-shared {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

%category-tag {
  min-width: 195px;
  min-height: 50px;
  width: 100%;
  border-radius: 10px;
  text-align: center;
  background: white 0% 0% no-repeat padding-box;
}

%feature-card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 50px 10px 10px;
  text-align: left;
  border-radius: 10px;

  p {
    margin-left: 2em;
    color: #707070;
    text-align: left;
    font-size: 18px;
    font-weight: 300;
    letter-spacing: 0px;
  }

  img  {
    border-radius: 10px;
    width: 167px;
    object-fit: cover;
  }

  .card-button {
    text-align: center;
    margin-top: 1em;
    margin-left: 2em;
    max-width: 134px;
    width: 100%;
    padding: 7px 16px;
    border-radius: 15px;
    background-color: white;

    p {
      font-size: 13px;
      font-weight: 600;
      letter-spacing: 0px;
      color: #e64e41;
    }
  }
}
