@use 'utils';
@use 'modules';
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');

* {
  box-sizing: border-box;
  font-family: 'Source Sans Pro', sans-serif;
}

p {
  margin-block: 0;
}

.App {
  box-sizing: border-box;
  text-align: center;
}

.Header {
  @extend %content-flex-shared;
  flex-direction: row;
  padding: 20px 220px;
  @media (max-width: utils.$breakpoint-md) {
    flex-direction: column;
    padding: 20px 20px;
  }
  justify-content: left;

  &-icon {
    margin-right: 78px;
    @media (max-width: utils.$breakpoint-md) {
      margin-right: unset;
    }
  }

  &-input {
    width: 100%;
    &-wrapper {
      min-width: 500px;
      @media (max-width: utils.$breakpoint-md) {
        flex-direction: column;
        min-width: 280px;
      }
      @extend %content-flex-shared;
      justify-content: space-between;
      min-height: 50px;
      background: #f7f7f7 0% 0% no-repeat padding-box;
      border: 2px solid #edf1f2;
      border-radius: 28px;
      opacity: 1;
      padding-left: 19px;
    }

    &-flex {
      @extend %content-flex-shared;
    }

    &-icon {
      object-fit: cover;
      margin-right: 7px;
      padding: 0px 15px;
    }

    &-box {
      width: 100%;
      color: #555555;
      background-color: transparent;
      opacity: 1;
      border: none;
      min-height: 50px;
    }

    &-button {
      background: utils.$secondary-color 0% 0% no-repeat padding-box;
      border: 2px solid #edf1f2;
      border-radius: 28px;
      opacity: 1;
      color: white;
      padding: 12px 21px;
      cursor: pointer;

      &-text {
        margin: 0px;
      }
    }
  }

  &-cart {
    &-wrapper {
      background: utils.$primary-color 0% 0% no-repeat padding-box;
      border-radius: 28px;
      opacity: 1;
      display: flex;
      align-items: center;
      justify-content: center;
      min-width: 142px;
      min-height: 50px;
      cursor: pointer;
      margin-left: 70px;
      @media (max-width: utils.$breakpoint-md) {
        margin-top: 12px;
      }
    }

    &-text {
      margin-left: 4px;
      color: white;
      font-size: 16px;
      font-weight: 600;
    }
  }
}

.Banner {
  &-wrapper {
    @extend %content-flex-shared;
    justify-content: left;
    background-image: url('../static/banner-background.png');
    object-fit: cover;
    min-height: 75px;
    padding: 20px 200px;
    @media (max-width: utils.$breakpoint-md) {
      padding: 20px 20px;
    }
  }

  &-heading {
    text-align: left;
    font-weight: normal;
    letter-spacing: 0px;
    color: #ffffff;
    opacity: 1;
  }

  &-subtitle {
    margin-top: 10px;
    padding: 0px 200px;
    @media (max-width: utils.$breakpoint-md) {
      padding: 0px 20px;
    }
    text-align: left;
  }
}

.Categories {
  padding-top: 10px;
  width: 100%;
  display: flex;
  align-items: left;
  justify-content: left;

  &-heading {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    &-text {
      padding-bottom: 4px;
      margin-left: 6px;
      color: utils.$primary-color;
      font-size: 24px;
      font-weight: normal;
      letter-spacing: 0px;
    }
  }
}

.Wrapper {
  padding: 0px 220px;
  @media (max-width: utils.$breakpoint-md) {
    padding: 0px 20px;
  }
}

.Category-Tag {
  &-wrapper {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
  }

  margin: 10px 0px;
  cursor: pointer;

  &-Active {
    @extend %category-tag;
    display: flex;
    align-items: center;
    justify-content: center;
    background: utils.$primary-color 0% 0% no-repeat padding-box;
    p {
      font-size: 18px;
      letter-spacing: 0px;
      color: #ffffff;
    }
  }

  &-Passive {
    @extend %category-tag;
    display: flex;
    align-items: center;
    justify-content: center;
    background: white;
    border: 1px solid #e2e7e9;
    p {
      font-size: 18px;
      font-weight: 600;
      letter-spacing: 0px;
      color: utils.$light-text-color;
    }
  }
}

.products-label {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: left;
  margin-top: 32px;
  margin-bottom: 10px;

  &-icon {
    margin-right: 5px;
  }
}

.products-root {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
  flex-wrap: wrap;
}

.Product-Card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 15px;
  border: 1px solid #e2e7e9;
  border-radius: 10px;
  max-width: 272px;
  min-height: 400px;
  text-align: left;
  width: 100%;
  margin-bottom: 30px;
  margin-right: 30px;

  &-photo {
    object-fit: cover;
    width: 242px;
    height: 244px;
    border-radius: 10px;
  }

  &-name {
    margin-top: 5px;
    font-size: 15px;
    font-weight: 600;
    letter-spacing: 0px;
    color: #555555;
  }

  &-subtext {
    &-wrapper {
      margin-top: 2px;
      width: 100%;
      text-align: left;
    }
    min-height: 19px;
    font-size: 15px;
    font-weight: 600;
    letter-spacing: 0px;
    color: utils.$secondary-color;
  }

  &-price {
    &-wrapper {
      margin-top: 2px;
      width: 100%;
      text-align: left;
    }
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 0px;
    color: black;
  }

  &-button {
    &-wrapper {
      border: 1px solid utils.$primary-color;
      border-radius: 22px;
      max-width: 242px;
      width: 100%;
      margin-top: 4px;
      padding-top: 10px;
      padding-bottom: 10px;
      text-align: center;
      cursor: pointer;
    }
    font-size: 15px;
    font-weight: 600;
    letter-spacing: 0px;
    color: utils.$primary-color;
  }
}

.Product-Cart-Message {
  &-wrapper {
    background-color: #f54257;
    position: relative;
    border-radius: 16px;
    display: block;
    margin-left: -320px;
    margin-top: 36px;
    min-width: 310px;
    @media (max-width: utils.$breakpoint-md) {
      min-width: 260px;
      margin-left: -190px;
    }
    width: 100%;
    min-height: 70px;
  }

  &-box {
    position: absolute;
    z-index: 9;
    top: -5px;
    right: 6px;
    width: 0;
    height: 0;
    border-left: 12px solid transparent;
    border-right: 12px solid transparent;
    border-bottom: 15px solid #f54257;
  }

  &-content {
    background-color: #f54257;
    max-width: 340px;
    width: 100%;
    min-height: 70px;
    border-radius: 8px;

    &-box {
      padding-top: 13px;
      display: flex;
      align-items: top;
      justify-content: center;
    }

    &-text {
      text-align: left;
      font-size: 15px;
      font-weight: 600;
      letter-spacing: 0px;
      color: #ffffff;
    }
  }

  &-ProgressBar {
    &-Wrapper {
      min-width: 230px;
      margin-top: 11px;
      width: 100%;
      background-color: #d01d32;
      border-radius: 22px;
      height: 5px;
    }

    &-Progress {
      z-index: 5;
      height: 5px;
      background-color: #ffce00;
      border-radius: 22px;
    }
  }
}

.Counter {
  margin-top: -40px;
  padding: 4px 7px;
  border-radius: 100%;
  background-color: #ff5b4d;
}

.Divider {
  width: 100%;
  height: 1px;
  background-color: #edf1f2;
}

.Features {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-top: 30px;
  padding: 0px 220px 100px 220px;
  @media (max-width: utils.$breakpoint-lg) {
    padding: 0px 20px;
    flex-direction: column;
  }

  &-Card-Danger {
    @extend %feature-card;
    background-color: #ffeae8;
  }

  &-Card-Custom {
    @extend %feature-card;
    background-color: #e8f1ff;
    margin: 0px 2em;
  }

  &-Card-Success {
    @extend %feature-card;
    background-color: #e2f7e1;
  }
}

.Footer {
  padding: 0px 220px;
  @media (max-width: utils.$breakpoint-md) {
    padding: 0px 20px;
  }
  padding-top: 156px;
  background-color: #f2f2f2;
}

.Mobile-Section {
  background-color: #ffffff;
  border-radius: 111px;
  max-width: 1480px;
  max-height: 220px;
  width: 100%;
  display: flex;
  @media (max-width: utils.$breakpoint-md) {
    display: none;
  }
  flex-direction: row;
  justify-content: center;
  align-items: center;

  &-Hero {
    margin-top: -140px;
  }

  &-Wrapper {
    margin-left: 30px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    img {
      width: 60px;
      object-fit: cover;
    }

    p {
      margin-left: 20px;
      font-size: 18px;
      font-weight: 600;
      letter-spacing: 0px;
      color: #000000;
    }
  }

  &-Subtext {
    margin-top: 10px;

    p {
      font-size: 16px;
      font-weight: normal;
      letter-spacing: 0px;
      color: #000000;
    }
  }

  &-Icons {
    margin-top: 1em;
    margin-left: 64px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    text-align: left;
  }
}

.Titles {
  width: 100%;
  display: flex;
  flex-direction: row;
  @media (max-width: utils.$breakpoint-lg) {
    flex-direction: column;
  }
  justify-content: center;
  align-items: top;
  margin-top: 120px;

  &-Social-Media {
    width: 33%;
    text-align: left;

    p {
      @media (max-width: utils.$breakpoint-lg) {
        justify-content: left;
        text-align: center;
      }
    }

    &-Icons {
      margin-top: 24px;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      max-width: 270px;

      img {
        height: 27px;
        object-fit: cover;
        margin-right: 30px;
      }
    }

    p {
      width: 100%;
      margin-top: 20px;
      font-size: 15px;
      font-weight: normal;
      letter-spacing: 0px;
      color: #000000;
    }
  }

  &-Text {
    width: 65%;
    padding-left: 32px;
    display: flex;
    flex-direction: row;
    @media (max-width: utils.$breakpoint-lg) {
      flex-direction: column;
    }
    justify-content: space-between;
    align-items: top;

    &-Heading {
      text-align: center;
      p {
        font-size: 18px;
        font-weight: normal;
        letter-spacing: 0px;
        color: #044dc3;
      }
    }

    &-Subtext {
      text-align: center;
      p {
        margin-top: 10px;
        font-size: 15px;
        font-weight: normal;
        letter-spacing: 0px;
        color: #000000;
      }
    }
  }

  &-Divider {
    @media (max-width: utils.$breakpoint-lg) {
      display: none;
    }
    padding-left: 60px;
    width: 2%;
    border-right: 1px dashed #9b9b9b;
    height: 240px;
  }
}

.Description {
  text-align: center;
  margin-top: 72px;
  padding: 0px 60px 50px 60px;
  @media (max-width: utils.$breakpoint-lg) {
    padding: 0px 0px 50px 0px;
  }

  p {
    font-size: 15px;
    letter-spacing: 0px;
    color: #000000;
  }
}

.Copyright {
  padding: 22px 0px;
  text-align: center;
  background-color: #e6e6e6;
  p {
    font-size: 13px;
    letter-spacing: 0px;
    color: #000000;
  }
}
